<tr class="g-brd-bottom g-brd-gray-light-v3">
    <td class="text-left g-py-25">
    <img class="d-inline-block g-width-100 mr-4" src="<%= item.image_url %>" alt="Image Description">
    <div class="d-inline-block align-middle">
        <h4 class="h6 g-color-black"> <%=item.title%></h4>
        <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-12 g-line-height-1_6 mb-0">
        <li><%=item.price%></li>
        </ul>
    </div>
    </td>
    <td class="g-color-gray-dark-v2 g-font-size-13"><%=item.price%> €</td>
    <td>
    <div class="js-quantity input-group u-quantity-v1 g-width-80 g-brd-primary--focus">
        <input class="js-result form-control text-center g-font-size-13 rounded-0 g-pa-0" type="text" value="1" readonly="">

        <div class="input-group-addon d-flex align-items-center g-width-30 g-brd-gray-light-v2 g-bg-white g-font-size-12 rounded-0 g-px-5 g-py-6">
        <i class="js-plus g-color-gray g-color-primary--hover fa fa-angle-up"></i>
        <i class="js-minus g-color-gray g-color-primary--hover fa fa-angle-down"></i>
        </div>
    </div>
    </td>
    <td class="text-right g-color-black">
    <span class="g-color-gray-dark-v2 g-font-size-13 mr-4"><%=item.price%> €</span>
    <span class="g-color-gray-dark-v4 g-color-black--hover g-cursor-pointer">
         <%= link_to cart_join_table_cart_item_path(@cart.id, item.id), {"method" => "delete"} , class:"g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" do %> 
         <i class="mt-auto fa fa-trash"></i>
         <% end %>
    </span>
    </td>
</tr>