<!DOCTYPE html>
<html>
  <head>
    <title>CatProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/da8b50c52a.js" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <%= render "layouts/navbar" , cart: @cart %>
    <%= yield %>
    <%=render "layouts/footer"%>
  </body>
</html>
